{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="pXs9i1NT9OMTozxXEKyYdCwH-ykyomeCFfbwSSJU6Ow" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    {% block favicon %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path="apple-touch-icon.png") }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path="favicon-32x32.png") }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path="favicon-16x16.png") }}">
    <link rel="manifest" href="{{ get_url(path="site.webmanifest") }}">
    {% endblock favicon %}
    {% include "_variables.html" %}
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ get_url(path="normalize.css") }}">
    <link rel="stylesheet" href="{{ get_url(path="juice.css") }}">

    <!-- KaTeX -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css" integrity="sha384-KiWOvVjnN8qwAZbuQyWDIbfCLFhLXNETzBQjA/92pIowpC0d2O3nppDGQVgwd2nB" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.js" integrity="sha384-0fdwu/T/EQMsQlrHCCHoH10pkPLlKA1jL5dFyUOvB3lfeT2540/2g6YgSi2BL14p" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/contrib/auto-render.min.js" integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
    {% block head %}
    {% endblock head %}
</head>

<body>
    {% block header %}

    <header class="pos-absolute" style="background-color: transparent">
        {{ macros::render_header() }}
    </header>

    <div class="hero">
        {% block hero %}
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <section class="text-center">
            <h1 class="heading-text" style="font-size: 50px">
                Build your static website
            </h1>
            <h3 class="title-text">
                <b>Juice</b> is an intuitive, elegant, and lightweight Zola theme for product websites.
            </h3>
            <div>
                <a class="github-button" href="https://github.com/huhu/juice" data-size="large" data-show-count="true"
                   aria-label="Star huhu/juice on GitHub">Star</a>
                <a class="github-button" href="https://github.com/huhu/juice/fork" data-size="large"
                   data-show-count="true" aria-label="Fork huhu/juice on GitHub">Fork</a>
            </div>
        </section>
        <img class="hero-image" style="width: 50%" src="{{ get_url(path="juice.svg") }}">

        <div class="explore-more text"
            onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
            Explore More ⇩
        </div>
        <style>
            .hero section {
                padding: 0 5rem;
            }
            @media screen and (max-width: 768px) {
                .hero section {
                    padding: 0 2rem;
                }

                .hero-image {
                    display: none
                }
            }
        </style>
        {% endblock hero %}
    </div>

    {% endblock header %}

    <main>
        <!--
        {% block toc %}
        {% if section.toc %}
        {% set toc = section.toc %}
        {% elif page.toc %}
        {% set toc = page.toc %}
        {% endif %}
        {% if toc %}
        <div class="toc">
            <div class="toc-sticky">
                {% for h in toc %}
                <div class="toc-item">
                    <a class="subtext" href="{{h.permalink | safe}}">{{ h.title }}</a>
                </div>
                {% if h.children %}
                {% for h2 in h.children %}
                <div class="toc-item-child">
                    <a class="subtext" href="{{h2.permalink | safe}}"><small>- {{ h2.title }}</small></a>
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endblock toc %}
        -->

        <div class="content text">
            {% block content %}
	        <div id="features" class="description-text">{{ section.description }}</div>
            {{ section.content | safe }}
            {% endblock content %}
        </div>

        {% block sidebar %}
        {% endblock sidebar %}
    </main>

    {% block footer %}
    <footer>
        <small class="subtext">
            <a href="https://uit.no" target="_blank"><img style="margin-left:30px; margin-right:30px" src="{{ get_url(path="logo-uit.png") }}" height="120" ></a>
            <a href="https://www.hu-berlin.de/en" target="_blank"><img style="margin-left:30px; margin-right:30px" src="{{ get_url(path="Huberlin-logo.svg.png") }}" height="120" ></a>
            <a href="https://www.forskningsradet.no/" target="_blank"><img style="margin-left:30px;" src="{{ get_url(path="forskningsradet.svg") }}" height="120" ></a>
            <a href="https://www.mn.uio.no/hylleraas/" target="_blank"><img style="margin-left:30px;" src="{{ get_url(path="hylleraas.png") }}" height="120" ></a>
	</small>
    </footer>
    {% endblock footer %}
</body>
<script>
    function highlightNav(heading) {
        let pathname = location.pathname;
        document.querySelectorAll(".toc a").forEach((item) => {
            item.classList.remove("active");
        });
        document.querySelector(".toc a[href$='" + pathname + "#" + heading + "']").classList.add("active");
    }

    let currentHeading = "";
    window.onscroll = function () {
        let h = document.querySelectorAll("h1,h2,h3,h4,h5,h6");
        let elementArr = [];

        h.forEach(item => {
            if (item.id !== "") {
                elementArr[item.id] = item.getBoundingClientRect().top;
            }
        });
        elementArr.sort();
        for (let key in elementArr) {
            if (!elementArr.hasOwnProperty(key)) {
                continue;
            }
            if (elementArr[key] > 0 && elementArr[key] < 300) {
                if (currentHeading !== key) {
                    highlightNav(key);
                    currentHeading = key;
                }
                break;
            }
        }
    }
</script>

</html>
